@charset "utf-8";
/* CSS Document */

#footer_container {
	text-align: center;
	vertical-align: middle;
	font-family: Rockwell, Georgia, "Times New Roman", Times, serif !importan;
  	font-size: 10px;
	color: #A3A3A3;
	padding-top: 10px;
	padding-bottom: 10px;
}