@charset "utf-8";
/* CSS Document */

#navigation { display:block; }
#nav_map { height:auto; }	
#nav_map #nav_image { height:150px; }
#nav_map #nav_image ul {
	width:100%;
	height:200px;
}
#nav_map #nav_image ul li {	
	list-style:none;
	float:left;	
	width:128px;
	height:128px;
	margin:0px 10%;
	cursor:pointer;
}
#nav_profil {
	background-image:url(../images/user.png);	
	background-repeat:no-repeat;
}
#nav_cv {
	background-image:url(../images/file.png);
	background-repeat:no-repeat;
}
#nav_exp {
	background-image:url(../images/file_search.png);
	background-repeat:no-repeat;
}